* {
    font-family: Cambria, sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
.Navi, .contentFV{
    grid-column-start: 2;
}
header, .Navi {
    background-color: #fef3df;
}




.logo {
    width: 32px;
    height: 32px;
    float: left;
}

.Navi {
    margin-top: 20px;
}
.Navi ul {
    list-style: none;
    text-align: center;
    margin-top: 6px;
}
.Navi li {
    display: inline-block;
    margin: 0 10px;
}

.Navi li a {
    text-decoration: none;
    color: royalblue;
    text-transform: uppercase;
    font-size: 12px;
    transition: 1s;
    font-weight: bold;
}

.Navi li a:hover {
    color: crimson;
    border-bottom: 1px solid;
    text-decoration: solid;
    font-size: 14px;
    margin: 0 5px;
}

.butt {
    text-transform: uppercase;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.8;
    white-space: pre;
}
.NavStart {
    float: right;
}

.NavStart, .B_Learn {
    background-color: #6495ed;
    background-image: linear-gradient(to right, #5e6dbe, #5967b5, #5461ab);
}

.NavStart:hover, .B_Learn:hover {
    background-image: linear-gradient(to right, #5461ab, #5967b5, #5e6dbe);
    opacity: 1;
    transition: 1s;
    box-shadow: 3px 10px 20px -11px rgba(66, 68, 90, 1);
}

.B_Contact {
    background-image: linear-gradient(to right, #f3b74c, #e6ae48, #daa444);
}

.B_Contact:hover {
    background-image: linear-gradient(to right, #daa444, #e6ae48, #f3b74c);
    opacity: 1;
    transition: 1s;
    box-shadow: 3px 10px 20px -11px rgba(66, 68, 90, 1);
}

.B_Contact, .B_Learn {
    font-size: 8px;
    margin-top: 25px;
    margin-right: 20px;
}

.contentFV ul {
    list-style: none;
    padding: 0 40px;
}

.contentFV li  {
    margin-top: 10px;
}

.contentFV {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 0 40px;
}
p.StartG {
    font-weight: bold;
    font-size: 35px;
}

.money {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    padding: 30px 0;
}